.feather,
.fa-solid,
.fas,
.fab,
.far,
.bx,
.bxs,
.bxl {
    vertical-align: middle;
    min-width: 1.5rem;
    min-height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.bx,
.bxs,
.bxl {
    font-size: 1.5em;
}
